@import './variables';
@import './utils';

html {
  &[lang="ko"] {
    word-break: keep-all;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

noscript {
  z-index: 1000;
}

.app-section {
  padding: rem($section-padding-top-bottom) 0;

  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: rem(45);
    position: absolute;
    bottom: rem(-37);
    background: linear-gradient(0deg, #f6f6f6 0%, #fff 91.48%), linear-gradient(#fff, #fff), linear-gradient(180deg, #f6f6f6 0%, rgba(255, 255, 255, 0.0001) 90.84%);
    mix-blend-mode: multiply;
    overflow: visible;
    background-size: 100% rem(8), 100% rem(3), 100% rem(34);
    background-repeat: no-repeat;
    background-position: 0 0, 0 rem(8), 0 rem(11);
    z-index: 1;
  }

  &--no-padding {
    padding: 0;
  }

  &--no-divider {
    border-bottom: none;
    &:after {
      background-image: none;
    }
  }

  &--grey {
    background-color: color('grey');
  }

  &__paragraph {
    margin: 0 auto;
    margin-bottom: rem(48);
    max-width: rem(771);

    text-align: center;

    &--left {
      text-align: left;
    }
  }

  &__border-divider {
    &::after {
      display: block;
      position: absolute;

      content: '';

      width: 100%;
      max-width: rem(1296);
      border-bottom: thin solid color('black');

      margin: auto;

      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.app-app-notification {
  padding: rem(8) rem(16);

  text-align: center;

  &[aria-hidden="true"] {
    display: none;
  }
}

.app-footnote {
  font-size: rem(12);
  color: color('footnote');
}

.app-main {
  font-family: font-stack('en', 'body');
}

.svg-sprite {
  @include visually-hidden;
}
