{#
 # Button with text label that may or may not contain an icon.
 # Defining options.href will use an <a> element, otherwise it will use a <button> element.
 #
 # @param {Object}   options
 # @param {string}   options.id         | Button/anchor id.
 # @param {string}   options.label      | Button label.
 # @param {string=}  options.icon       | icon source
 # @param {string=}  options.href       | URL that button should point to.
 # @param {string=}  options.type       | high-emphasis | medium-emphasis | low-emphasis | link (default to high-emphasis)
 # @param {boolean=} options.blank      | Whether the link should open in a new tab/window.
 #}

{% set class_names = {
  'base': 'app-button',
  'icon': 'app-button__icon',
  'link': 'app-button--link'
} %}

{% macro button(options={}) -%}

  {% if options.href %}
  <a
    class="{{ class_names.base }} {{ class_names.base }}--{{ options.type }}"
    href="{{ options.href }}"
    {% if options.blank %}
      target="_blank"
      rel="noreferrer noopener"
    {% endif %}

    {% if options.id %}
      id="{{ options.id }}"
    {% endif %}
    >
    <span>{{ options.label }}</span>
    {{ _icon(options.icon, options.label) }}
  </a>
  {% else %}
  <button
    class="{{ class_names.base }} {{ class_names.base }}--{{ options.type }}"
    {% if options.id %}
      id="{{ options.id }}"
    {% endif %}
    >
    <span>{{ options.label }}</span>
    {{ _icon(options.icon, options.label) }}
  </button>
  {% endif %}

{%- endmacro -%}

{% macro _icon(source, label) -%}
  {% if source %}
    <svg role="img" alt="{{ label }}" class="{{ class_names.icon }}">
      <use xlink:href="{{ source }}" />
    </svg>
  {% endif %}
{%- endmacro -%}
