{% extends "base.njk" %}

{% block meta_tag %}

{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="/assets/css/404.css">
{% endblock %}

{% block content %}
<div class="gwb-404">
  404
</div>
{% endblock %}


{% block page_script %}
{# <script src="/assets/js/home.js"></script> #}
{% endblock %}
