{% for item in robots %}
  User-agent: {{ item.userAgent }}

  {% for disallow in item.disallows %}
  Disallow: {{disallow}}
  {% endfor %}

  {% for allow in item.allows %}
  Allow: {{allow}}
  {% endfor %}
{% endfor %}

Sitemap: {{global.site_canonical_url}}sitemap.xml
