{% extends "base.njk" %}

{% block meta_tag %}

{% endblock %}

{% block third_party_styles %}
{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="/css/sub-page/sub-page-child.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="app-sub-page-child">
  this is a sub page child
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{# additional component i.e snackbar + loader #}
{% block additional_components %}
{% endblock %}

{% block third_party_scripts %}
{% endblock third_party_scripts %}

{% block page_scripts %}
<script src="/js/sub-page/sub-page-child.js"></script>
{% endblock %}
