{% extends "base.njk" %}

{% block meta_tag %}

{% endblock %}

{% block third_party_styles %}
{% endblock %}

{% block page_styles %}
  <link rel="stylesheet" href="css/404.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div class="app-404">
  <h1>Page not found</h1>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{# additional component i.e snackbar + loader #}
{% block additional_components %}
{% endblock %}

{% block third_party_scripts %}
{% endblock third_party_scripts %}

{% block page_scripts %}
{# <script src="js/404.js"></script> #}
{% endblock %}
