@import '../../styles/common';

.app-home {
  &__test {
    display: block;
    width: rem(200);
    height: rem(200);
    border: thin solid red;
    background-image: url(../../images/apes.gif);
  }
}

// this will get purged, as it's not being used
.guff {
  color: red;
}